.title {
  font-size: 24px;
  font-weight: bold;
}

.terms {
  border-top: 1px solid black;
}

.term-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  gap: 8px;
  margin-top: 30px;
}

.term-header {
  font-weight: bold;
  color: #222;
  text-align: left;
}
.term-header .required {
  color: red;
  margin-right: 4px;
}

.term-header .choice {
  color: green;
  margin-right: 4px;
}

.term-content {
  width: 100%;
  height: 150px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
}

.term-footer {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
}

.checkbox {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.btnbox {
  margin-top: 40px;
  text-align: center;
}

.btn {
  padding: 20px 180px;
  background-color: #c0392b;
  color: white;
  width: 300px;
  height: 200px;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
}
