<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여행 / 숙박 / 항공</title>
    <link rel="stylesheet" href="/lotteOn/css/cs/faq/list.css">
    <link rel="stylesheet" href="/lotteOn/css/layout/layout.css">
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작 -->
        <header>
            <div class="header_main">
                <div class="user_menu">
                    <div>
                        <a href="#">로그인 |</a>
                        <a href="#">회원가입 |</a>
                        <a href="#">마이페이지 |</a>
                        <a href="#">장바구니</a>
                    </div>            
                </div>

                <div class="logo">
                    <img src="/lotteOn/images/logo.png" alt="lotteOn">
                </div>
            </div>
        </header>
        <!-- 헤더 끝 -->
        <main>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <aside class="cs-sidebar">
                    <div class="cs-title">자주묻는질문</div>
                  
                    <ul class="cs-menu">
                      <li><a href="#">회원</a></li>
                      <li><a href="#">쿠폰 / 이벤트</a></li>
                      <li><a href="#">주문 / 결제</a></li>
                      <li><a href="#">배송</a></li>
                      <li><a href="#">취소 / 반품 / 교환</a></li>
                      <li class="active"><a href="#">여행 / 숙박 / 항공</a></li>
                      <li><a href="#">안전거래</a></li>
                    </ul>

                </aside>
                <!-- 사이드바 끝-->
                <!-- 오른쪽 글 -->
                <div class="main_content_side">
                    <div class="notice-container">
                        <div class="location-container">
                            <h2>여행 / 숙박 / 항공</h2>
                            <div>
                                <ul>
                                    <li>
                                        <a href="#">고객센터 > </a>
                                    </li>
                                    <li>
                                        <a href="#">자주묻는 질문 > </a>
                                    </li>
                                    <li>
                                        <a href="#" class="this-location">여행 / 숙박 / 항공</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <section class="faq-section">
                        <div class="faq-category" id="signup-section">
                            <h2>여행</h2>
                            <div class="faq-item" id="signup-1">
                                <a href="#"><span class="B_Q">Q.</span>개인회원과 법인회원이 어떻게 다르나요?(출력내용)</a>
                            </div>
                            <div class="faq-item" id="signup-2">
                                <a href="#"><span class="B_Q">Q.</span>개인회원과 법인회원이 가입 절차가 다르나요?(출력내용)</a>
                            </div>
                            <div class="faq-item" id="signup-3">
                                <a href="#"><span class="B_Q">Q.</span>개인회원과 법인회원이 가입 시 필요한 정보가 다르나요?(출력내용)</a>
                            </div>
                            <div class="faq-item more" id="signup-4">
                                <a href="#"><span class="B_Q">Q.</span>개인회원과 법인회원이 가입 시 이용할 수 있는 혜택이 다르나요?(더보기내용)</a>
                            </div>
                            <button class="toggle-button" id="signup-toggle">더보기</button>
                        </div>
                    </section>
                    <section class="faq-section">
                        <div class="faq-category" id="withdrawal-section">
                            <h2>숙박</h2>
                            <div class="faq-item" id="withdrawal-1">
                                <a href="#"><span class="B_Q">Q.</span>회원 탈퇴 후 재가입이 가능한가요?(출력내용)</a>
                            </div>
                            <div class="faq-item" id="withdrawal-2">
                                <a href="#"><span class="B_Q">Q.</span>회원 탈퇴 후 재가입이 불가능한가요?(출력내용)</a>
                            </div>
                            <div class="faq-item" id="withdrawal-3">
                                <a href="#"><span class="B_Q">Q.</span>회원 탈퇴 후 재가입이 불가능한가요?(출력내용)</a>
                            </div>
                            <div class="faq-item more" id="withdrawal-4">
                                <a href="#"><span class="B_Q">Q.</span>회원 탈퇴 후 다른 이메일로 재가입할 수 있나요?(더보기내용)</a>
                            </div>
                            <button class="toggle-button" id="withdrawal-toggle">더보기</button>
                        </div>
                    </section>
                    <section class="faq-section">
                        <div class="faq-category" id="withdrawal-section">
                            <h2>항공</h2>
                            <div class="faq-item" id="withdrawal-1">
                                <a href="#"><span class="B_Q">Q.</span>회원 탈퇴 후 재가입이 가능한가요?(출력내용)</a>
                            </div>
                            <div class="faq-item" id="withdrawal-2">
                                <a href="#"><span class="B_Q">Q.</span>회원 탈퇴 후 재가입이 불가능한가요?(출력내용)</a>
                            </div>
                            <div class="faq-item" id="withdrawal-3">
                                <a href="#"><span class="B_Q">Q.</span>회원 탈퇴 후 재가입이 불가능한가요?(출력내용)</a>
                            </div>
                            <div class="faq-item more" id="withdrawal-4">
                                <a href="#"><span class="B_Q">Q.</span>회원 탈퇴 후 다른 이메일로 재가입할 수 있나요?(더보기내용)</a>
                            </div>
                            <button class="toggle-button" id="withdrawal-toggle">더보기</button>
                        </div>
                    </section>
                </div>
                </div>
            </section>
            
        </main>

        <!-- 푸터 시작 -->
        <footer>
            <div class="footer_info">
                <div>
                    <a href="#">회사소개</a>
                    <a href="#">서비스이용약관</a>
                    <a href="#">개인정보처리방침</a>
                    <a href="#">전자금융거래약관</a>
                </div>
            </div>
            <div class="footer_content">
                <div class="footer_content_detail">
                    <img src="/lotteOn/images/footer_logo.png" alt="">
                    <div>
                        <p class="footer_title">LotteOn Project</p>
                        <p>
                            개발자 : 우상호, 최명기, 김소현, 오재영, 홍준혁 <br>
                            주소 : 부산광역시 부산진구 부전동 266-2 그린컴퓨터아카데미 <br><br>
                            사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부) <br>
                            통신판매업 신고 : 2024-서울강남-04439 사업자 정보 확인 <br>
                            호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부 <br>
                        </p>

                        <p class="footer_sub_title" style="margin-top: 10px;">롯데쇼핑 e커머스 사업부 에스크로</p>
                        <p>
                            고객님의 안전거래를 위해 현금 등으로 결제 시 결제금액 전액에 대해 <br>
                            소비자 피해 방지 서비스를 이용합니다.
                        </p>
                    </div>
                    <div>
                        <p class="footer_sub_title">고객센터</p>
                        <p>
                            전화번호 : 1899-7000(유료) <br>
                            E-mail : lotteon@lotte.net <br>
                            <a href="#" class="a_deco">분쟁해결기준</a><br> <!-- 정적 페이지 이동 (연결 할 페이지 없으면 삭제 예정)-->
                            <a href="#" class="footer_btn">
                                FAQ 보기
                            </a>
                            <a href="#" class="footer_btn">
                                1대1 문의하기
                            </a>
                            <a href="#" class="footer_btn">
                                고객센터
                            </a>
                            <a href="#" class="footer_btn">
                                공지사항
                            </a>
                        </p>

                        <p class="footer_sub_title">전자금융거래 분쟁 담당</p>
                        <p>
                            Tel : 1899-7000(유료)
                            E-mail : lotteon@lotte.net
                        </p>
                        <a href="#" class="a_deco">안전거래센터</a>
                    </div>
                </div>

            </div>
            <div class="footer_version">
                <p>
                    롯데쇼핑(주)는 통신판매중개자이며 통신판매의 거래당사자가 아닙니다. 입점판매자가 등록한 상품정보 및 거래에 대해 롯데쇼핑(주)는 일체 책임을 지지 않습니다.
                </p>
                <p>Copyright © LOTTESHOPPING Co., LTD. All rights reserved.</p>
            </div>
        </footer>
        <!-- 푸터 끝 -->
    </div>
    <script src="/lotteOn/js/faq_list.js"></script>
</body>
</html>