<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lotteOn/css/myPage/modal-header.css">
    <link rel="stylesheet" href="/lotteOn/css/myPage/modal-main.css">
    <title>Document</title>
</head>
<body>
    <div class="modal-wrapper">
        <div class="modal-header">
            <div class="modal-name">
                <h1>구매확정</h1>
            </div>
            <div class="exit" onclick="location.href='#'" style="cursor: pointer;">
                <h1>X</h1> <!-- 수정 예정 -->
            </div>
        </div>
        <div class="modal-main table-sub">
            <div style="margin: 80px; font-size: 20px;">
                <p>상품을 받으셨나요?</p>
                <p>상품을 받으신 분만 구매확정을 해주세요.</p>
            </div>
            <div class="btn">
                <input type="submit" value="확인" onclick="location.href='#'";>
                <input type="submit" value="취소" onclick="location.href='#'">
            </div>
        </div>
    </div>
</body>
</html>