/* 헤더 부분 */
header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: visible;
    min-width: 1200px;

}


.header_main, .advertisement {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.user_menu {
    height: 30px;
    margin-top: 10px;
}

.user_menu > div {
    float: right;
    width: auto;
    text-align: right;
}

.user_menu a {
    color: #757575;
    margin-left: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo > a > img {
    width: 200px;
    height: 40px;
}


.logo .search {
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 2px solid red;
    border-radius: 25px;
    padding: 0 20px;
    box-sizing: border-box;
}


.logo .search form {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo .search input[type="search"] {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0 10px;
    box-sizing: border-box;
}

.header_search {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    width: 20px;
    height: 20px;
    filter: invert(16%) sepia(97%) saturate(7487%) hue-rotate(357deg) brightness(104%) contrast(108%);
}

.advertisement {
    height: 80px;
    background-color: #F2F2F2;
    font-size: 38px;
    text-align: center;
    line-height: 80px;
}

.user-icons {
    margin-right: 30px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    cursor: pointer;
}

.icon-item span {
    font-size: 15px;
    font-weight: 500;
}

.icon-item img {
    width: 50px;
    height: 40px;
    margin-bottom: 4px;
}

.gnb {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
    border-bottom: 2px solid red;
    box-sizing: border-box;
    padding: 0 30px;
    gap: 20px;
}

.category {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.category img {
    width: 60px;
    height: 60px;
}

.category-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: white;
    border: 1px solid #ddd;
    display: none;
    z-index: 1000;
}

.category-menu ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.category-menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.category-menu li a:hover {
    background-color: #fce9e9;
}

.category-menu li.active {
    background-color: #fce9e9;
    font-weight: bold;
}

.category-menu li.active a {
    color: red;
}


.subcategory-menu {
    position: absolute;
    width: 200px;
    background-color: white;
    border: 1px solid #ddd;
    display: none;
    z-index: 1001;
}

.subcategory-menu ul {
    display: none;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.subcategory-menu ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.subcategory-menu ul li a:hover {
    background-color: #fce9e9;
}

.nav-menu {
    display: flex;
    flex: 1;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0 80px;
}

.nav-menu li a {
    display: block;
    padding: 12px 50px;
    border-radius: 6px;
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease;
}

.nav-menu li a:hover {
    background-color: #fce9e9;
    color: red;
    font-weight: bold;
}

.nav-menu li.active a {
    color: red;
    font-weight: bold;
}
