.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    height: 35px;
    background-color: #548ed5;
    color: #ffffff;
}

.modal-name{
    margin-right: 20px;
}

.order-date{
    margin-right: auto;
}

.exit {
    text-align: right;
}


