.shop_header{
    width: 100%;
    height: 60px;
    background-color: #F2F2F2;
    padding-inline: 20px;
}

.shop_header_txt{
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}

.header_table{
    border-collapse: collapse;
    margin-bottom: 0;
    width: 85%;
}

.header_table tr{
    border-bottom: 0px;
}

.header_table tr td{
    width: 90px;
    height: 25px;
    border-right: 1.5px solid #C0C0C0;
    text-align: center;
}

.header_table tr td:nth-last-child(1){

    border-right: none;
}

.title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.ad{
    width: 100%; 
    height: 86px; 
    background-color: #F2F2F2; 
    margin-bottom: 15px;
}


.title-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.title-area > h1{
    font-size: 20px;
}

.title-area > a{
    font-size: 15px;
}

.order-details table{
    width: 100%;
}




.order-details tr{
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
}

.order-details td{
    border-right: none;
}

.orderdetails-btn{
    display: block;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.orderdetails-btn:nth-child(1){
    background-color: #558ed5;
    color: #ffffff;
    border: none;
    margin-top: 10px;
}

.orderdetails-btn:nth-child(2){
    background-color: #558ed5;
    color: #ffffff;
    border: none;
}

.orderdetails-btn:nth-child(3){
    border: 1px solid #808080;

}

.orderdetails-btn:nth-child(4){
    border: 1px solid #808080;

    margin-bottom: 10px;
}

.product-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.text-area{
    display: block;
    text-align: left;
}


.mySetting-background{
    width: 100%;
    height: 150px;
    background-color: #dce6f2;
    border: 1px solid #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mySetting-margin{
    display: flex;
    
}

.mySetting-margin div{
    width: 30%;
    padding-inline: 40px;
    border-right: 3px solid #bfbfbf;

}

.mySetting-margin div:nth-child(3){
    border-right: none;
}

.mySetting-margin h1{
    font-size: 20px;
}

.mySetting-margin a{
    margin-left: 30px;
    font-size: 20px;
    text-decoration: underline;
    color: #0170C0;
}

.mySetting-margin h2{
    margin-top: 10px;
    font-size: 20px;
    color: #bfbfbf;
}



.coupon-caution li::marker{
    color: black;
}

.coupon-caution{
    margin-top: 150px;
    color: #bfbfbf;
}


