/* 테이블 서브 */

table{
    width: 100%;
    border-collapse: collapse;
    
}


.table-sub > table tr{
    border-top: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
    height: 50px;
}

.table-sub > table tr td:nth-child(1){
    text-align: center;
    background-color: #f2f2f2;
}

.table-sub > table tr td:nth-child(2){
    text-align: left;
    padding-left: 15px;
}

.table-sub td{
    font-size: 14px;
}

.table-sub table input[type="text"]{
    width: 300px;
    height: 30px;
    border: 1px solid #a6a6a6;
    margin-top: 5px;
    margin-bottom: 5px;
}

.table-sub input[type="radio"]{
    margin-left: 8px;
    margin-right: 3px;
}

textarea{
    resize: none;
    width: 95%;
    height: 200px;
    border: 1px solid #a6a6a6;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}