.order_list_form{
    width: 100%;
}

.order_list_form table{
    text-align: center;
    width: 100%;
    border-top: 1px solid #D2D2D2 ;
}

.order_list_form table thead th{
    height: 50px;
    border-bottom: 1px solid #DDDDDD;
}

.order_list_form table thead th:nth-child(1){
    width: 120px;
}

.order_list_form table thead th:nth-child(2){
    width: 80px;
}

.order_list_form table thead th:nth-child(3){
    width: 80px;
}

.order_list_form table thead th:nth-child(4){
    width: 80px;
}

.order_list_form table thead th:nth-child(5){
    width: 60px;
}

.order_list_form table thead th:nth-child(6){
    width: 80px;
}

.order_list_form table thead th:nth-child(7){
    width: 80px;
}

.order_list_form table thead th:nth-child(8){
    width: 80px;
}

.order_list_form table thead th:nth-child(9){
    width: 160px;
}

.order_list_form table thead th:nth-child(10){
    width: 80px;
}

.order_list_form table tbody tr td{
    height: 60px;
    border-bottom: 1px solid #DDDDDD;
}

.no a{
    text-decoration: underline;
}

.delivery{
    border: 1px solid #4F95D2 ;
    color: #4F95D2 ;
    padding: 5px;
}

/* 주문 현황 모달 */
.order_detail{
    width: 100%;
    border-top: 2px solid black;
    text-align: center;
}

.order_detail thead th{
    height: 40px;
    border-bottom: 1px solid #DDDDDD;
}

.order_detail tbody tr td{
    border-bottom: 1px solid #DDDDDD;
}

.order_detail thead th:nth-child(1){
    width: 80px;
}

.order_detail thead th:nth-child(2){
    width: 100px;
}

.order_detail thead th:nth-child(3){
    width: 100px;
}

.order_detail thead th:nth-child(4){
    width: 100px;
}

.order_detail thead th:nth-child(5){
    width: 100px;
}

.order_detail thead th:nth-child(6){
    width: 100px;
}

.order_detail thead th:nth-child(7){
    width: 80px;
}

.order_detail thead th:nth-child(8){
    width: 80px;
}

.order_detail thead th:nth-child(9){
    width: 100px;
}

.total_div{
    width: 200px;
    height: 80px;
    float: right;
    background-color: #F2F2F2;
    padding: 10px;
}

.total_div span{
    font-size: 14px;
    line-height: 20px;
}

.rs{
    float: right;
    color: black;
}

.info{
    border-top: 2px solid #000000;
    border-bottom: 1px solid #E7E7E7 ;
    width: 100%;
}

.modal_title_black{
    margin-bottom: 5px;
}

.info tr td{
    height: 40px;
    padding-left: 10px;
}

.info tr td:nth-child(1){
    width: 20%;
    background-color: #F2F2F2;
}

.info tr td:nth-child(2){
    width: 80%;
}

.delivery_modal_table{
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
}

.delivery_modal_table tr td{
    padding-left: 10px;
}

.delivery_modal_table tr td:nth-child(1){
    width: 150px;
    height: 40px;
    background-color: #F2F2F2;
}

.delivery_modal_table tr td:nth-child(2){
    width: 650px;
    height: 40px;
}

.delivery_modal_table tr:nth-last-child(1){
    height: 100px;
}
.delivery_modal_table textarea{
    padding: 10px;
    border: 1px solid #BFBFBF;
    width: 80%;
    height: 80%;
    box-sizing: border-box;
}

.delivery_modal_table input{
    height: 60%;
}

.delivery_modal_table select{
    width: 20%;
    height: 60%;
}

.dipt1{
    width: 20%;
}

.dipt2{
    width: 50%;
}

.dipt3{
    width: 80%;
}

/* 배송 현황 */
.delivery_list_form{
    width: 100%;
}

.delivery_list_form table{
    text-align: center;
    width: 100%;
    border-top: 1px solid #D2D2D2 ;
}

.delivery_list_form table thead th{
    height: 50px;
    border-bottom: 1px solid #DDDDDD;
}

.delivery_list_form table thead th:nth-child(1){
    width: 120px;
}

.delivery_list_form table thead th:nth-child(2){
    width: 80px;
}

.delivery_list_form table thead th:nth-child(3){
    width: 80px;
}

.delivery_list_form table thead th:nth-child(4){
    width: 80px;
}

.delivery_list_form table thead th:nth-child(5){
    width: 60px;
}

.delivery_list_form table thead th:nth-child(6){
    width: 80px;
}

.delivery_list_form table thead th:nth-child(7){
    width: 80px;
}

.delivery_list_form table thead th:nth-child(8){
    width: 80px;
}

.delivery_list_form table thead th:nth-child(9){
    width: 80px;
}

.delivery_list_form table thead th:nth-child(10){
    width: 160px;
}

.delivery_list_form table tbody tr td{
    height: 60px;
    border-bottom: 1px solid #DDDDDD;
}

