<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>채용</title>
    <link rel="stylesheet" href="/css/company/employment.css" />
  </head>
  <body>
    <div id="wrapper">
      <!-- 헤더 시작 -->
      <header>
        <div class="header_main">
          <div class="logo">
            <img src="/images/logo.png" alt="lotteOn" />
          </div>
          <div class="user_menu">
            <a href="#">HOME</a>
            <a href="#">기업문화</a>
            <a href="#">소식과 이야기</a>
            <a href="#" class="active">채용</a>
            <a href="#">미디어</a>
          </div>
        </div>
      </header>

      <!-- 메인 시작 -->
      <main class="content">
        <h1>쇼핑을 새롭게, 세상을 이롭게<br>
           이끌 쇼핑 좀 해 본 인재를 모십니다!</h1>

        <p class="subtitle">롯데ON은 안정성 있고 혁신성 있게 우리의 문화를 만들어가고 있어요.<br>
          구성원들은 수평적이고 자율적인 문화 속에서 개선을 넘어서 혁신적인 롯데ON만의 서비스를 만들어요.<br>
          롯데ON과 함께 굵은 점을 찍어가며 성장하실 분들을 기다립니다.
        </p>

        <div class="notice-container">
          <div class="location-container">
            <h2>채용 공고</h2>
          </div>
          
          <ul class="recruit-list">
            <li>
              <a href="#" class="recruit-item">
                <div class="recruit-info">
                  <strong class="job-title">모집공고 제목<span class="badge2">모집종료</span></strong>
                  <div class="job-meta">
                    채용부서 / 경력 / 채용형태
                  </div>
                </div>
                <div class="job-status">2025.01.01~2025.01.02</div>
              </a>
            </li>
          
            <li>
              <a href="#" class="recruit-item">
                <div class="recruit-info">
                  <strong class="job-title">모집공고 제목<span class="badge">모집중</span></strong>
                  <div class="job-meta">
                    모션인터렉션디자인팀 / 경력 5 ~ 10년 / 정규직
                  </div>
                </div>
                <div class="job-status">상시모집</div>
              </a>
            </li>

            <li>
              <a href="#" class="recruit-item">
                <div class="recruit-info">
                  <strong class="job-title">모집공고 제목<span class="badge3">모집대기</span></strong>
                  <div class="job-meta">
                    모션인터렉션디자인팀 / 경력 5 ~ 10년 / 정규직
                  </div>
                </div>
                <div class="job-status">2026.01.01~</div>
              </a>
            </li>

            <li>
              <a href="#" class="recruit-item">
                <div class="recruit-info">
                  <strong class="job-title">모집공고 제목<span class="badge">모집중</span></strong>
                  <div class="job-meta">
                    모션인터렉션디자인팀 / 경력 5 ~ 10년 / 정규직
                  </div>
                </div>
                <div class="job-status">상시모집</div>
              </a>
            </li>
          </ul>
          <div class="notice-footer">
              <div class="pagination">
                  <a href="#" class="active">1</a>
                  <a href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#">5</a>
                  <a href="#">6</a>
                  <span>...</span>
                  <a href="#">11</a>
                  <a href="#">❯</a>
              </div>
          </div>
      </div>
      </main>

      <!-- 메인 끝 -->

      <!-- 푸터 시작 -->
      <footer>
        <div class="footer_info">
          <div>
            <a href="#">회사소개</a>
            <a href="#">서비스이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">전자금융거래약관</a>
          </div>
        </div>
        <div class="footer_content">
          <div class="footer_content_detail">
            <img src="/images/footer_logo.png" alt="" />
            <div>
              <p class="footer_title">LotteOn Project</p>
              <p>
                개발자 : 우상호, 최명기, 김소현, 오재영, 홍준혁 <br />
                주소 : 부산광역시 부산진구 부전동 266-2 그린컴퓨터아카데미
                <br /><br />
                사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부) <br />
                통신판매업 신고 : 2024-서울강남-04439 사업자 정보 확인 <br />
                호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부 <br />
              </p>

              <p class="footer_sub_title" style="margin-top: 10px">
                롯데쇼핑 e커머스 사업부 에스크로
              </p>
              <p>
                고객님의 안전거래를 위해 현금 등으로 결제 시 결제금액 전액에
                대해 <br />
                소비자 피해 방지 서비스를 이용합니다.
              </p>
            </div>
            <div>
              <p class="footer_sub_title">고객센터</p>
              <p>
                전화번호 : 1899-7000(유료) <br />
                E-mail : lotteon@lotte.net <br />
                <a href="#" class="a_deco">분쟁해결기준</a><br />
                <!-- 정적 페이지 이동 (연결 할 페이지 없으면 삭제 예정)-->
                <a href="#" class="footer_btn"> FAQ 보기 </a>
                <a href="#" class="footer_btn"> 1대1 문의하기 </a>
                <a href="#" class="footer_btn"> 고객센터 </a>
                <a href="#" class="footer_btn"> 공지사항 </a>
              </p>

              <p class="footer_sub_title">전자금융거래 분쟁 담당</p>
              <p>Tel : 1899-7000(유료) E-mail : lotteon@lotte.net</p>
              <a href="#" class="a_deco">안전거래센터</a>
            </div>
          </div>
        </div>
        <div class="footer_version">
          <p>
            롯데쇼핑(주)는 통신판매중개자이며 통신판매의 거래당사자가 아닙니다.
            입점판매자가 등록한 상품정보 및 거래에 대해 롯데쇼핑(주)는 일체
            책임을 지지 않습니다.
          </p>
          <p>Copyright © LOTTESHOPPING Co., LTD. All rights reserved.</p>
        </div>
      </footer>
      <!-- 푸터 끝 -->
    </div>
    <script src="/js/company/index.js"></script>
  </body>
</html>
