.member_list_form {
  width: 100%;
  overflow: hidden;
}

.member_list_form table {
  width: 100%;
}

.member_list_form table {
  text-align: center;
  border-top: 1px solid #c7c7c7;
}

.member_list_form table thead th {
  height: 50px;
  border-bottom: 1px solid #dddddd;
}

.member_list_form table tbody tr td {
  height: 50px;
  border-bottom: 1px solid #dddddd;
}

.member_list_form table thead th:nth-child(1) {
  width: 20px;
}

.member_list_form table thead th:nth-child(2) {
  width: 38px;
}

.member_list_form table thead th:nth-child(3) {
  width: 58px;
}

.member_list_form table thead th:nth-child(4) {
  width: 58px;
}

.member_list_form table thead th:nth-child(5) {
  width: 38px;
}

.member_list_form table thead th:nth-child(6) {
  width: 100px;
}

.member_list_form table thead th:nth-child(7) {
  width: 60px;
}

.member_list_form table thead th:nth-child(8) {
  width: 140px;
}

.member_list_form table thead th:nth-child(9) {
  width: 130px;
}

.member_list_form table thead th:nth-child(10) {
  width: 140px;
}

.member_list_form table thead th:nth-child(11) {
  width: 70px;
}

.member_list_form table thead th:nth-child(11) {
  width: 70px;
}

.member_list_form a {
  display: inline-block;
  padding: 2px;
  margin-bottom: 2px;
}

.member_list_form select {
  width: 60%;
}
