
/* 기본 설정 */
* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Noto Sans KR', 'Malgun Gothic', 'Apple SD Gothic Neo', sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #111;
}

input, textarea{
    outline: none;
}

#wrapper{
    width: 100%;
    box-sizing: border-box;
}


/* 헤더 부분 */
header{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 2px solid red ;
    margin-bottom: 40px;
}


.header_main{
    margin: 0 auto;
    width: 1200px;
}

.user_menu{
    height: 30px;
    margin-top: 10px;
}

.user_menu > div{
    float: right;
    width: 320px;
    text-align: right;  
}

.user_menu a{
    color: #757575;
    margin-left: 10px;
}

.logo > img{
    width: 200px;
    height: 40px;
    float: left;
}

.logo > .search{
    height: 40px;
    float: left;
    margin-left: 57px;
    border: 2px solid red;
    width: 400px;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    box-sizing: border-box;
}

.logo .search input[type="search"] {
    height: 100%;
    width: 300px;
    box-sizing: border-box;
    border: none;
}

.advertisement{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    border: 1px solid black;
}

.search-icon {
    background-color: transparent; /* 배경색 제거 */
    filter: invert(16%) sepia(97%) saturate(7487%) hue-rotate(357deg) brightness(104%) contrast(108%);
    width: 20px;
    height: 20px;
}

.header_search{
    width: 25px;
    height: 25px;
    background-color: white;
    border: none;
    float: right;
}


/* 푸터 */

footer{
    margin: 0 auto;
    height: auto;
    background-color: #F2F2F2;
    overflow: hidden;
}

.footer{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    height: auto;
}

footer > .footer_info{
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

footer > .footer_info  a{
    margin-left: 20px;
}


footer > .footer_content{
    height: 250px;
    padding: 20px 0px 20px 0px;
    width: 100%;
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575;
}

.footer_content_detail{
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.footer_content_detail img{
    float: left;
    margin-right: 40px;
    width: 155px;
    height: 36px;
}

.footer_content_detail > div{
    float: left;
    width: 400px;
    height: 100%;
}

.footer_title{
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.64;
    letter-spacing: -.3px;
    color: #333;
}

.footer_sub_title{
    font-size: 12px;
    font-weight: 700;
    line-height: 1.58;
    letter-spacing: -.2px;
    color: #757575;
    margin-bottom: 10px;
}

.footer_content_detail{
    font-size: 12px;
    line-height: 1.58;
    letter-spacing: -.2px;
    color: #757575;
}

.a_deco{
    text-decoration: underline;
    color: #757575;
}

.footer_btn{
    padding: 5px 3px 3px 1px;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    border: 1px solid #DDDDDD;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


footer > .footer_version{
    padding: 10px;
    height: 40px;
    width: 100%;
    color: #757575;
    text-align: center;
}

/* 메인 */
#container {
    width: 100%;
    height: auto;
    margin: 50px 0;
    border: 1px solid yellowgreen;
}

main {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

.main_content{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 40px 100px 40px 100px;
    float: left; 
}

.main_content_side{
    width: 1000px;
    height: auto;
    box-sizing: border-box;
    padding: 40px 40px 40px 40px;
    float: left; 
}


/* 사이드 바 */

.sidebar {
    box-sizing: border-box;
    width: 200px;
    float: left;
    border-collapse: collapse;
    height: 100vh;
    border-right: 1px solid #C0C0C0;
}

.sidebar-title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #333;
    border-collapse: collapse;
}

.sidebar-menu {
    border: 1px solid #C0C0C0;
    
}

.sidebar-menu li {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}

.sidebar-menu li a {
    display: block;
    padding: 10px 40px; 
    color: #333;
    font-weight: 400;
    transition: background-color 0.2s;
}

.sidebar-menu li a:hover {
    background-color: #d6d6d6;
}

.main_info{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #757575;
    padding: 15px;
    box-sizing: border-box;
}

.main_info p{
    font-weight: bold;
    font-size: 20px;
}