.nav {
        display: flex;
        gap: 5px;
        margin: 30px 0 40px 0;
    }

.nav > button {
    width: 100px;
    height: 30px;
    color: #333;
    font-size: 14px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background-color: white;
}

.page_name {
    width: 100%;
    height: 100px;
    color: #333;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    line-height: 100px;
    margin-bottom: 20px;
}

aside {
    float: left;
    width: 150px;
    height: auto;
}

.category > p {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.category > div {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 20px;
}

.parent {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}

.category .children {
    display: none;
    margin-left: 15px;
    margin-top: 5px;
}

.category .children a {
    display: block;
    font-size: 14px;
    color: #333;
    margin: 5px 0;
    text-decoration: none;
    transition: color 0.2s;
}

.category .children a:hover {
    color: red;
}

.parent:hover {
    color: red;
}

.best {
    width: 100%;
    height: auto;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    margin-top: 40px;
}

.best > p {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin: 20px 0;
}

.best > div {
    margin: 20px 0;
}

.best img {
    position: relative;
    width: 100%;
    height: 130px;
}

.img-wrap {
    position: relative; 
}

.rank {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 3px;
    z-index: 10;
}

.best > div > a {
    color: #333;
    font-size: 14px;
}

.best > div > span {
    font-size: 14px;
}

.bar {
    width: 100%;
    height: 30px;
}

.bar > p {
    float: left;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.bar > div {
    color: #333;
    font-size: 18px;
    float: right;
    display: flex;
}

.bar > div > a{
    color: #333;
    font-size: 18px;
}

.list {
    width: 100%;
    height: 45px;
    padding-top: 6px;
    margin: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
}

.list a {
    font-size: 18px;
    color: #999;
}

.list a:hover {
    color: #333;
}

.price_current {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.price_origin {
    color: #aaa;
    text-decoration: line-through;
}

.sale {
    color: red;
}

.order {
    margin-left: 200px;
    width: 1000px;
    height: auto;
    margin-bottom: 100px;
}

.order > h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 40px 0;
}

.order_header {
    width: 100%;
    margin-top: 20px;
}

.order_header > button {
    width: 70px;
    height: 30px;
    margin-left: 850px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #fff;
}

.order_content {
    width: 999px;
    height: auto;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 30px;
    border-collapse: collapse;
    border-top: 1px solid  #b2b2b2;
}

.order_content td,
.order_content th {
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding: 5px;
}

.order_content img {
    width: 100px;
    height: 100px;
}

.vendor-name {
    width: 70px;
    height: 20px;
    background-color: #78685b;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-left: 120px;
    margin-bottom: -15px;
}

.order_content td span {
    font-size: 14px;
    font-weight: 700;
} 

.cart_summary {
    width: 350px;
    height: 300px;
    padding: 10px;
    margin-left: 627px;
    background-color: #eee;
}

.cart_summary > p {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

.cart_summary table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

.cart_summary table td, 
.cart_summary table th {
    padding: 10px;
    font-size: 14px;
}

.cart_summary table th {
    color: #666;
    text-align: left; 
    font-size: 14px;
}

.cart_summary table td {
    font-weight: 700;
    text-align: right; 
    padding: 5px;
    font-size: 14px;
}

.total > th,
.total > td {
    border-top: 1px solid #eee;
    color: #ef2a23;
}

.order_info, 
.shipping_info {
    margin: 40px 0;
}

.order_info > p,
.shipping_info > p {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
    padding: 10px;
}

.order_info > table,
.shipping_info > table {
    width: 100%;
    height: auto;
    border-top: 1px solid  #b2b2b2;
    border-collapse: collapse;
    text-align: left;
}

.order_info > table td,
.order_info > table th,
.shipping_info > table td,
.shipping_info > table th {
    padding: 10px 20px;
    font-size: 14px;
}

.order_info > table th,
.shipping_info > table th {
    background-color: #eee;
    width: 100px;
}



