.menu{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 40px;
    border: 1px solid black;
}

.menu a{
    border-radius: 7px;
    padding: 5px;
    padding-inline: 20px;
    margin-left: 10px;
    border: 1px solid black;
    font-weight: 600;
}

.cs-title {
    color: #111;
    text-align: center;
    margin: 30px 0;
    font-size: 35px;
}

.cs-title span{
    color: #ff000f;
    text-align: center;
    margin: 30px 0;
    font-size: 40px;
}

.cs-main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
}

.cs-section {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.cs-section h2 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cs-section a {
    font-size: 18px;
}


.more-link {
    font-size: 15px;
    color: #0066ff;
}

.notice-list li,
.qna-list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    font-size: 15px;
}

.date, .qna-user {
    color: #999;
    font-size: 13px;
}

.write-inquiry {
    display: inline-block;
    margin-top: 10px;
    color: #0070c0;
    font-weight: bold;
    text-decoration: underline;
}

.faq-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.faq-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    margin-right: 30px;
    text-align: center;
}

.faq-icon span {
    font-size: 15px;
    font-weight: bold;
}

.faq-icon img {
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin-bottom: 5px;
}

.consult-boxes .consult-cards {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.consult-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 280px;
    font-size: 13px;
}

.consult-card h3 {
    font-size: 13px;
    margin-bottom: 10px;
}

.consult-number {
    font-size: 13px;
    font-weight: bold;
    margin: 8px 0;
}
