<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/lotteOn/css/layout/layout.css">
    <link rel="stylesheet" href="/lotteOn/css/product/list.css">
    <title>상품목록 : 롯데On</title>
</head>
<body>
    <div id="wrapper">
         <!-- 헤더 시작 -->
         <header>
            <div class="header_main">
                <div class="user_menu">
                    <div>
                        <a href="#">로그인 |</a>
                        <a href="#">회원가입 |</a>
                        <a href="#">마이페이지 |</a>
                        <a href="#">장바구니</a>
                    </div>            
                </div>

                <div class="logo">
                    <img src="/lotteOn/images/logo.png" alt="lotteOn">
                    <div class="search">
                        <form action="#">
                            <input type="search" placeholder="검색어를 입력하세요">
                            <button type="submit" class="header_search">
                                <img src="/lotteOn/images/search_ico.svg" alt="검색" class="search-icon">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <!-- 헤더 끝 -->


        <main>
            <section class="content">
                <div class="bar">
                    <div>
                        <a href="#">HOME</a>&nbsp;&nbsp;>&nbsp;&nbsp;
                        <a href="#">뷰티</a>&nbsp;&nbsp;>&nbsp;&nbsp;
                        <a href="#">향수</a>
                    </div>
                </div>
                <p class="page_name">향수</p>
                <!-- 사이드바-->
                <aside>
                    <div class="category">
                        <p>카테고리</p>
                        <div class="category-item">
                        <div class="parent">뷰티</div>
                        <div class="children">
                            <a href="/lotteOn/view/product/beauty/skincare/skincare.html">스킨케어</a>
                            <a href="/lotteOn/view/product/beauty/makeup">메이크업</a>
                            <a href="/lotteOn/view/product/beauty/perfume">향수</a>
                        </div>
                        </div>
                    
                        <div class="category-item">
                        <div class="parent">럭셔리</div>
                        <div class="children">
                            <a href="/lotteOn/view/product/luxury/bag">가방</a>
                            <a href="/lotteOn/view/product/luxury/watch">시계</a>
                            <a href="/lotteOn/view/product/luxury/shoes">신발</a>
                        </div>
                        </div>
                    
                        <div class="category-item">
                        <div class="parent">여성패션</div>
                        <div class="children">
                            <a href="/lotteOn/view/product/wfashion/onepiece">원피스</a>
                            <a href="/lotteOn/view/product/wfashion/blouse">블라우스</a>
                            <a href="/lotteOn/view/product/wfashion/pants">팬츠</a>
                        </div>
                        </div>
                    
                        <div class="category-item">
                        <div class="parent">남성패션</div>
                        <div class="children">
                            <a href="/lotteOn/view/product/mfashion/shirt">셔츠</a>
                            <a href="/lotteOn/view/product/mfashion/slacks">슬랙스</a>
                            <a href="/lotteOn/view/product/mfashion/jacket">자켓</a>
                        </div>
                        </div>
                    
                        <div class="category-item">
                        <div class="parent">가전</div>
                        <div class="children">
                            <a href="/lotteOn/view/product/electronics/computer">컴퓨터</a>
                            <a href="/lotteOn/view/product/electronics/game">게임</a>
                            <a href="/lotteOn/view/product/electronics/tv">티비</a>
                        </div>
                        </div>
                    
                        <div class="category-item">
                        <div class="parent">가구</div>
                        <div class="children">
                            <a href="/lotteOn/view/product/furniture/sofa">쇼파</a>
                            <a href="/lotteOn/view/product/furniture/bed">침구</a>
                            <a href="/lotteOn/view/product/furniture/wardrobe">옷장</a>
                        </div>
                        </div>
                    
                        <div class="category-item">
                        <div class="parent">반려동물</div>
                        <div class="children">
                            <a href="/lotteOn/view/product/pet/dog">강아지</a>
                            <a href="/lotteOn/view/product/pet/cat">고양이</a>
                            <a href="/lotteOn/view/product/pet/parrot">앵무새</a>
                        </div>
                        </div>
                    
                        <div class="category-item">
                        <div class="parent">취미</div>
                        <div class="children">
                            <a href="/lotteOn/view/product/hobby/knitting">뜨개</a>
                            <a href="/lotteOn/view/product/hobby/badminton">배드민턴</a>
                            <a href="/lotteOn/view/product/hobby/poldance">폴댄스</a>
                        </div>
                        </div>
                    
                        <div class="category-item">
                        <div class="parent">여행</div>
                        <div class="children">
                            <a href="/lotteOn/view/product/travel/asia">아시아</a>
                            <a href="/lotteOn/view/product/travel/europe">유럽</a>
                            <a href="/lotteOn/view/product/travel/northamerica">북미</a>
                        </div>
                        </div>
                    </div>
                </aside>
                <!-- 사이드 바 끝 -->


                <div class="container">
                    <div class="slider">
                      <div class="slides" id="slides">
                        <img src="/lotteOn/images/product/banner1.jpg" alt="배너 1">
                        <img src="/lotteOn/images/product/banner2.jpg" alt="배너 2">
                        <img src="/lotteOn/images/product/banner1.jpg" alt="배너 3">
                        <img src="/lotteOn/images/product/banner2.jpg" alt="배너 4">
                      </div>
                      <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
                      <button class="next" onclick="moveSlide(1)">&#10095;</button>
                    </div>
                
                    <h2>카테고리 베스트 상품</h2>
                    <div class="best-grid">
                      <div class="best-card">
                        <p class="rank">01</p>
                        <img class="product-img" src="/lotteOn/images/product/product.jpg" alt="상품1" />
                        <div class="vendor-row">
                          <span class="vendor">롯데백화점</span>
                          <div class="icons">
                            <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                            <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                          </div>
                        </div>
                        <p class="name"><span class="brand">샤넬</span> 상스 오 스플렌디드 50ml</p>
                        <p class="price"><span class="discount">10%</span>206,000원</p>
                        <p class="review"><span class="star">★ 4.8</span> 리뷰 123</p>
                        <span class="badge-free">무료배송</span>
                      </div>
                      <div class="best-card">
                        <p class="rank">01</p>
                        <img class="product-img" src="/lotteOn/images/product/product.jpg" alt="상품1" />
                        <div class="vendor-row">
                          <span class="vendor">롯데백화점</span>
                          <div class="icons">
                            <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                            <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                          </div>
                        </div>
                        <p class="name"><span class="brand">샤넬</span> 상스 오 스플렌디드 50ml</p>
                        <p class="price"><span class="discount">10%</span>206,000원</p>
                        <p class="review"><span class="star">★ 4.8</span> 리뷰 123</p>
                        <span class="badge-free">무료배송</span>
                      </div>
                      <div class="best-card">
                        <p class="rank">01</p>
                        <img class="product-img" src="/lotteOn/images/product/product.jpg" alt="상품1" />
                        <div class="vendor-row">
                          <span class="vendor">롯데백화점</span>
                          <div class="icons">
                            <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                            <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                          </div>
                        </div>
                        <p class="name"><span class="brand">샤넬</span> 상스 오 스플렌디드 50ml</p>
                        <p class="price"><span class="discount">10%</span>206,000원</p>
                        <p class="review"><span class="star">★ 4.8</span> 리뷰 123</p>
                        <span class="badge-free">무료배송</span>
                      </div>
                      <div class="best-card">
                        <p class="rank">01</p>
                        <img class="product-img" src="/lotteOn/images/product/product.jpg" alt="상품1" />
                        <div class="vendor-row">
                          <span class="vendor">롯데백화점</span>
                          <div class="icons">
                            <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                            <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                          </div>
                        </div>
                        <p class="name"><span class="brand">샤넬</span> 상스 오 스플렌디드 50ml</p>
                        <p class="price"><span class="discount">10%</span>206,000원</p>
                        <p class="review"><span class="star">★ 4.8</span> 리뷰 123</p>
                        <span class="badge-free">무료배송</span>
                      </div>
                      <div class="best-card">
                        <p class="rank">01</p>
                        <img class="product-img" src="/lotteOn/images/product/product.jpg" alt="상품1" />
                        <div class="vendor-row">
                          <span class="vendor">롯데백화점</span>
                          <div class="icons">
                            <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                            <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                          </div>
                        </div>
                        <p class="name"><span class="brand">샤넬</span> 상스 오 스플렌디드 50ml</p>
                        <p class="price"><span class="discount">10%</span>206,000원</p>
                        <p class="review"><span class="star">★ 4.8</span> 리뷰 123</p>
                        <span class="badge-free">무료배송</span>
                      </div>
                      <div class="best-card">
                        <p class="rank">01</p>
                        <img class="product-img" src="/lotteOn/images/product/product.jpg" alt="상품1" />
                        <div class="vendor-row">
                          <span class="vendor">롯데백화점</span>
                          <div class="icons">
                            <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                            <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                          </div>
                        </div>
                        <p class="name"><span class="brand">샤넬</span> 상스 오 스플렌디드 50ml</p>
                        <p class="price"><span class="discount">10%</span>206,000원</p>
                        <p class="review"><span class="star">★ 4.8</span> 리뷰 123</p>
                        <span class="badge-free">무료배송</span>
                      </div>
                      <div class="best-card">
                        <p class="rank">01</p>
                        <img class="product-img" src="/lotteOn/images/product/product.jpg" alt="상품1" />
                        <div class="vendor-row">
                          <span class="vendor">롯데백화점</span>
                          <div class="icons">
                            <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                            <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                          </div>
                        </div>
                        <p class="name"><span class="brand">샤넬</span> 상스 오 스플렌디드 50ml</p>
                        <p class="price"><span class="discount">10%</span>206,000원</p>
                        <p class="review"><span class="star">★ 4.8</span> 리뷰 123</p>
                        <span class="badge-free">무료배송</span>
                      </div>
                      <div class="best-card">
                        <p class="rank">01</p>
                        <img class="product-img" src="/lotteOn/images/product/product.jpg" alt="상품1" />
                        <div class="vendor-row">
                          <span class="vendor">롯데백화점</span>
                          <div class="icons">
                            <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                            <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                          </div>
                        </div>
                        <p class="name"><span class="brand">샤넬</span> 상스 오 스플렌디드 50ml</p>
                        <p class="price"><span class="discount">10%</span>206,000원</p>
                        <p class="review"><span class="star">★ 4.8</span> 리뷰 123</p>
                        <span class="badge-free">무료배송</span>
                      </div>
                      <div class="best-card">
                        <p class="rank">01</p>
                        <img class="product-img" src="/lotteOn/images/product/product.jpg" alt="상품1" />
                        <div class="vendor-row">
                          <span class="vendor">롯데백화점</span>
                          <div class="icons">
                            <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                            <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                          </div>
                        </div>
                        <p class="name"><span class="brand">샤넬</span> 상스 오 스플렌디드 50ml</p>
                        <p class="price"><span class="discount">10%</span>206,000원</p>
                        <p class="review"><span class="star">★ 4.8</span> 리뷰 123</p>
                        <span class="badge-free">무료배송</span>
                      </div>
                         <div class="best-card">
                        <p class="rank">01</p>
                        <img class="product-img" src="/lotteOn/images/product/product.jpg" alt="상품1" />
                        <div class="vendor-row">
                          <span class="vendor">롯데백화점</span>
                          <div class="icons">
                            <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                            <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                          </div>
                        </div>
                        <p class="name"><span class="brand">샤넬</span> 상스 오 스플렌디드 50ml</p>
                        <p class="price"><span class="discount">10%</span>206,000원</p>
                        <p class="review"><span class="star">★ 4.8</span> 리뷰 123</p>
                        <span class="badge-free">무료배송</span>
                      </div>
                    </div>
                
                <!------------------------------------------------------>
                    <div>
                        <div class="list">
                            <div>
                                <a href="#">판매많은순&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                                <a href="#">낮은가격순&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                                <a href="#">높은가격순&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                                <a href="#">평점높은순&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                                <a href="#">후기많은순&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                                <a href="#">최근등록순</a>
                            </div>
                        </div>
                        <div class="view-toggle">
                            <button onclick="toggleView('list')">리스트 보기</button>
                            <button onclick="toggleView('grid')">그리드 보기</button>
                        </div>
                    </div>
                
                
                
                
                  
                    <div id="productWrapper" class="product-wrapper list">
                      <div class="product-list">
                
                
                        <div class="product-item">
                          <img src="/lotteOn/images/product/product.jpg" alt="상품 썸네일">
                          <div class="product-info">
                            <h4><span class="vendor">롯데백화점</span> 로에베 아이레 수틸레사</h4>
                            <div class="meta">★ 4.8 | 리뷰 82</div>
                            <span class="badge-free">무료배송</span>
                          </div>
                          <div class="product-price">
                            <del>164,000원</del><br>
                            <span class="discount">5%</span> 155,800원
                            <div class="icons">
                              <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                              <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                            </div>
                          </div>
                        </div>
                        <div class="product-item">
                            <img src="/lotteOn/images/product/product.jpg" alt="상품 썸네일">
                            <div class="product-info">
                              <h4><span class="vendor">롯데백화점</span> 로에베 아이레 수틸레사</h4>
                              <div class="meta">★ 4.8 | 리뷰 82</div>
                              <span class="badge-free">무료배송</span>
                            </div>
                            <div class="product-price">
                              <del>164,000원</del><br>
                              <span class="discount">5%</span> 155,800원
                              <div class="icons">
                                <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                                <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <img src="/lotteOn/images/product/product.jpg" alt="상품 썸네일">
                            <div class="product-info">
                              <h4><span class="vendor">롯데백화점</span> 로에베 아이레 수틸레사</h4>
                              <div class="meta">★ 4.8 | 리뷰 82</div>
                              <span class="badge-free">무료배송</span>
                            </div>
                            <div class="product-price">
                              <del>164,000원</del><br>
                              <span class="discount">5%</span> 155,800원
                              <div class="icons">
                                <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                                <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <img src="/lotteOn/images/product/product.jpg" alt="상품 썸네일">
                            <div class="product-info">
                              <h4><span class="vendor">롯데백화점</span> 로에베 아이레 수틸레사</h4>
                              <div class="meta">★ 4.8 | 리뷰 82</div>
                              <span class="badge-free">무료배송</span>
                            </div>
                            <div class="product-price">
                              <del>164,000원</del><br>
                              <span class="discount">5%</span> 155,800원
                              <div class="icons">
                                <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                                <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <img src="/lotteOn/images/product/product.jpg" alt="상품 썸네일">
                            <div class="product-info">
                              <h4><span class="vendor">롯데백화점</span> 로에베 아이레 수틸레사</h4>
                              <div class="meta">★ 4.8 | 리뷰 82</div>
                              <span class="badge-free">무료배송</span>
                            </div>
                            <div class="product-price">
                              <del>164,000원</del><br>
                              <span class="discount">5%</span> 155,800원
                              <div class="icons">
                                <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                                <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <img src="/lotteOn/images/product/product.jpg" alt="상품 썸네일">
                            <div class="product-info">
                              <h4><span class="vendor">롯데백화점</span> 로에베 아이레 수틸레사</h4>
                              <div class="meta">★ 4.8 | 리뷰 82</div>
                              <span class="badge-free">무료배송</span>
                            </div>
                            <div class="product-price">
                              <del>164,000원</del><br>
                              <span class="discount">5%</span> 155,800원
                              <div class="icons">
                                <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                                <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <img src="/lotteOn/images/product/product.jpg" alt="상품 썸네일">
                            <div class="product-info">
                              <h4><span class="vendor">롯데백화점</span> 로에베 아이레 수틸레사</h4>
                              <div class="meta">★ 4.8 | 리뷰 82</div>
                              <span class="badge-free">무료배송</span>
                            </div>
                            <div class="product-price">
                              <del>164,000원</del><br>
                              <span class="discount">5%</span> 155,800원
                              <div class="icons">
                                <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                                <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <img src="/lotteOn/images/product/product.jpg" alt="상품 썸네일">
                            <div class="product-info">
                              <h4><span class="vendor">롯데백화점</span> 로에베 아이레 수틸레사</h4>
                              <div class="meta">★ 4.8 | 리뷰 82</div>
                              <span class="badge-free">무료배송</span>
                            </div>
                            <div class="product-price">
                              <del>164,000원</del><br>
                              <span class="discount">5%</span> 155,800원
                              <div class="icons">
                                <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                                <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <img src="/lotteOn/images/product/product.jpg" alt="상품 썸네일">
                            <div class="product-info">
                              <h4><span class="vendor">롯데백화점</span> 로에베 아이레 수틸레사</h4>
                              <div class="meta">★ 4.8 | 리뷰 82</div>
                              <span class="badge-free">무료배송</span>
                            </div>
                            <div class="product-price">
                              <del>164,000원</del><br>
                              <span class="discount">5%</span> 155,800원
                              <div class="icons">
                                <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                                <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <img src="/lotteOn/images/product/product.jpg" alt="상품 썸네일">
                            <div class="product-info">
                              <h4><span class="vendor">롯데백화점</span> 로에베 아이레 수틸레사</h4>
                              <div class="meta">★ 4.8 | 리뷰 82</div>
                              <span class="badge-free">무료배송</span>
                            </div>
                            <div class="product-price">
                              <del>164,000원</del><br>
                              <span class="discount">5%</span> 155,800원
                              <div class="icons">
                                <button><img src="/lotteOn/images/product/icon_favorite.png" alt="찜"></button>
                                <button><img src="/lotteOn/images/product/icon_cart.png" alt="장바구니"></button>
                              </div>
                            </div>
                          </div>
                
                
                      </div>
                    </div>
                  </div>
                </div>

    

            </section>
        </main>


















  

  <script>
    let index = 0;
    const slides = document.getElementById('slides');
    const totalSlides = Math.ceil(slides.children.length / 2);

    function moveSlide(direction) {
      index += direction;
      if (index < 0) index = totalSlides - 1;
      if (index >= totalSlides) index = 0;
      slides.style.transform = `translateX(-${index * 100}%)`;
    }

    function toggleView(view) {
      const wrapper = document.getElementById('productWrapper');
      wrapper.classList.remove('list', 'grid');
      wrapper.classList.add(view);
    }
  </script>
</body>
</html>
