
.product_list_form{
    width: 100%;
}

.product_list_form table{
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #B1B1B1;
}

.product_list_form img{
    width: 50px;
    height: 50px;
}

.product_list_form table thead th{
    height: 50px;
    border-bottom: 1px solid #DDDDDD;
}

.product_list_form table tbody tr td{
    text-align: center;
    height: 160px;
    border-bottom: 1px solid #DDDDDD;
}

.product_list_form table tbody td:nth-child(1){
    width: 30px;
}

.product_list_form table tbody td:nth-child(2){
    width: 50px;
}

.product_list_form table tbody td:nth-child(3){
    width: 120px;
}

.product_list_form table tbody td:nth-child(4){
    width: 100px;
}

.product_list_form table tbody td:nth-child(5){
    width: 80px;
}

.product_list_form table tbody td:nth-child(6){
    width: 80px;
}

.product_list_form table tbody td:nth-child(7){
    width: 80px;
}

.product_list_form table tbody td:nth-child(8){
    width: 80px;
}

.product_list_form table tbody td:nth-child(9){
    width: 120px;
}

.product_list_form table tbody td:nth-child(10){
    width: 45px;
}

.product_list_form table tbody td:nth-child(11){
    width: 120px;
}

.category tr td:nth-child(1){
    width: 25%;
}

.category tr td:nth-child(2){
    width: 75%;
}

table{
    width: 100%;
}


table tr td{
    height: 40px;
    border-top: 1px solid #BCBCBC;
    border-bottom: 1px solid #BCBCBC;
    padding-left: 15px;
}

table tr td:nth-child(1){
    background-color: #DDE6F3;
}

.category tr td:nth-child(1){
    width: 100px;
}

.category tr td:nth-child(2){
    width: 800px;
}

.category select{
    width: 15%;
    height: 60%;
}

table input{
    width: 40%;
    height: 60%;
    margin-right: 10px;
}

.title{
    margin-top: 30px;
}

input[type="file"]{
    height: 24px;
    margin-bottom: 5px;
    padding-left: 3px;
}

.option tr td:nth-child(1){
    width: 120px;
}

.option tr td:nth-child(2){
    width: 340px;
}

.option tr td:nth-child(3){
    width: 120px;
    background-color: #DDE6F3;
}

.option tr td:nth-child(4){
    width: 340px;
}

.option input{
    width: 90%;
}
