
.shop_list_form{
    overflow: hidden;
    width: 100%;
    height: auto;
}

.shop_list_form table{
    text-align: center;
    width: 100%;
}

.shop_list_form table thead th{
    height: 60px;
    border-bottom: 1px solid #D2D2D2;
    border-top: 1px solid #A6A6A6;
}

.shop_list_form table tbody tr td{
    height: 60px;
    border-bottom: 1px solid #D2D2D2;
}


.shop_list_form table thead th:nth-child(1){
    width: 34px;
}

.shop_list_form table thead th:nth-child(2){
    width: 60px;
}

.shop_list_form table thead th:nth-child(3){
    width: 80px;
}

.shop_list_form table thead th:nth-child(4){
    width: 80px;
}

.shop_list_form table thead th:nth-child(5){
    width: 160px;
}

.shop_list_form table thead th:nth-child(6){
    width: 160px;
}

.shop_list_form table thead th:nth-child(7){
    width: 180px;
}

.shop_list_form table thead th:nth-child(8){
    width: 60px;
}

.shop_list_form table thead th:nth-child(9){
    width: 60px;
}
    

/* 관리자 상점 등록 */

.shop table{
    border-top: 1px solid #7F7F7F;
    border-bottom: 1px solid #7F7F7F;
}

.shop table tr td{
    padding-left: 15px;
}

.shop table tr td:nth-child(1){
    width: 150px;
    height: 40px;
    background-color: #F2F2F2;
}


.shop table tr td:nth-child(2){
    width: 600px;
    height: 40px;
}

.shop table input{
    width: 40%;
    height: 30px;
}

.address_form input{
    margin-bottom: 5px;
}

.address_form .inputs{
    width: 60%;
}

/* 관리자 매출현황 */
.sales_table{
    width: 100%;
    border-top: 1px solid #A6A6A6;
    text-align: center;
}

.sales_table thead th{
    height: 50px;
    border-bottom: 1px solid #E9E9E9 ;
}

.sales_table tbody td{
    height: 50px;
    border-bottom: 1px solid #E9E9E9 ;
}

.sales_table thead th:nth-child(1){
    width: 51px;
}

.sales_table thead th:nth-child(2){
    width: 76px;
}

.sales_table thead th:nth-child(3){
    width: 180px;
}

.sales_table thead th:nth-child(4){
    width: 80px;
}

.sales_table thead th:nth-child(5){
    width: 80px;
}

.sales_table thead th:nth-child(6){
    width: 80px;
}

.sales_table thead th:nth-child(7){
    width: 80px;
}

.sales_table thead th:nth-child(8){
    width: 80px;
}

.sales_table thead th:nth-child(9){
    width: 120px;
}

.sales_table thead th:nth-child(9){
    width: 120px;
}

