.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    height: 35px;
    background-color: #548ed5;
    color: #ffffff;
}

.modal-header > .modal-name p{
    font-size: 35px;
}

.modalClose{
    font-size: 35px;
}

.exit {
    text-align: right;
    font-size: 35px;
}
.modal-name{
    margin-right: 20px;
}

.order-date{
    margin-right: auto;
}



/*모달 메인*/
.modal-wrapper{
    width: 800px;
    height: auto;
}

.modal-main{
    margin: 20px;
}

.purchase_confirm_content p{
    font-size: 25px;
}


/* 버튼 */
.btn{
    display: flex;
    justify-content: center;
}

.btn > input{
    margin-inline: 10px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #548ED5;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.btn > input:nth-child(2){
    background-color: #A6A6A6;
}

.file {
    display: flex;
    flex-direction: column;
}

.file input{
    width: 200px;
    border: 1px solid #a6a6a6;
    margin-block: 5px;
    padding: 5px;
}

/*모달 팝업 영역 스타일링*/
.modal {
    display: none; /* 평소에는 보이지 않도록*/
    position: fixed; /* fixed로 변경 */
    top: 0;
    left: 0;
    width: 100vw; /* 뷰포트 전체 너비 */
    height: 100vh; /* 뷰포트 전체 높이 */
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    z-index: 9999; /* 다른 요소 위에 표시 */
}

.modal .modal_popup {
/*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
}
.modal.on {
    display: block;
}