/* 게시판 평균 별점 */
.myPage-rating {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.myPage-rating .star {
    width: 20px;
    height: 20px;
    background: url('/images/ico-star-empty.svg') no-repeat center/cover;
    display: inline-block;
    margin-right: 2px;
}

.myPage-rating .star.active {
    background-image: url('/images/ico-star-full.svg');
}

.myPage-rating .myPage-score {
    margin-left: 5px;
    font-size: 14px;
    color: #333;
}