/* 테이블 제목 */
.title-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title-area > h1{
    font-size: 20px;
}

/* 테이블 */
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;

}


.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img {
    width: 135px;
    height: 135px;
    object-fit: cover;
    margin-right: 100px;
}

.table-main th{
    height: 50px;
    font-size: 15px;
    background-color: #F7F7F7;
    border-top: 2px solid #000000;
    text-align: center;
}

.table-main tr{
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
}

.table-main td{
    font-size: 14px;
    height: 50px;
    border-right: none;
}

.table-main .product-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


.text-area p, .text-area a{
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
}

.text-area a{
    text-decoration-line: underline;
}