
.location-container {
    position: relative;
}
.location-container ul {
    display: flex;
    align-items: center;
    height: 42px;
    padding: 0;
    margin: 0;
}
.location-container ul li a {
    font-size: 14px;
    font-weight: 350;
    color: #333;
    margin-left: 10px;
}
.location-container ul li:last-child a {
    font-weight: bold;
}

.submenu {
    display: none;
    background-color: #f3f3f3;
}
.submenu li a {
    padding: 10px 30px;
    font-size: 14px;
}

.content{
  display: flex;
} 

/*사이드*/
.cs-sidebar {
  width: 200px;
  border: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.cs-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #111;
}

.cs-menu {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.cs-menu li {
  border-bottom: 1px solid #eee;
}

.cs-menu li a {
  display: block;
  padding: 12px 10px;
  font-size: 15px;
  color: #333;
  text-decoration: none;
}

.cs-menu li.active a {
  font-weight: bold;
  color: #d22;
}
.cs-menu li:not(.active):hover a {
  color: #d22;
  font-weight: bold;
  background-color: #f9f9f9;
}
/*사이드*/

.notice-container {
  max-width: 1000px;
  margin: 15px;
}

.notice-container h2 {
  font-size: 26px;
  font-weight: 700;
  border-bottom: 2px solid #222;
  padding-bottom: 20px;
}
.notice-view {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.notice-title {
  font-size: 25px;
  font-weight: 600;
  border-bottom: 2px solid #222;
}

.notice-date {
  color: #888;
  font-size: 15px;
}

.notice-content > p {
  font-size: 16px;
  color: #333;
  line-height: 1.8;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.notice-footer {
  text-align: center;
}

.notice-footer button {
  padding: 10px 25px;
  background-color: #444;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.notice-footer button:hover {
  background-color: #000;
}

.B_Q{
  font-size: 20px;
  margin-right: 5px;
  color: #1548d4;
  font-weight: bold;
}