<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>전자금융거래 이용약관</title>
    <link rel="stylesheet" href="/css/layout/layout.css" />
    <link rel="stylesheet" href="/css/policy/buyer.css" />
    <link rel="stylesheet" href="/css/common/header.css"/>
  </head>
  <body>
    <div id="wrapper">
      <!-- 헤더 시작 -->
      <th:block th:include="/common/header.html"/>
      <!-- 헤더 끝 -->
      <!-- 메인 시작 -->
      <main>
        <section class="content">
          <!-- 글 시작-->
          <article class="main_content terms">
            <!-- 상단 탭 버튼들 -->
            <div class="terms-top">
              <h1 class="terms-title">LotteON 서비스 이용약관</h1>

              <!-- ✅ 실제 탭 요소들을 이 안으로 -->
              <div class="terms-tabs">
                <div class="tab">
                  <img src="/images/cs/cash.PNG" />
                  <span>구매회원 약관</span>
                </div>
                <div class="tab">
                  <img src="/images/cs/cash.PNG" />
                  <span>판매회원 약관</span>
                </div>
                <div class="tab active">
                  <img src="/images/cs/cash.PNG" />
                  <span>전자금융거래</span>
                </div>
                <div class="tab">
                  <img src="/images/cs/cash.PNG" />
                  <span>위치정보 약관</span>
                </div>
                <div class="tab">
                  <img src="/images/cs/cash.PNG" />
                  <span>개인정보처리</span>
                </div>
              </div>
            </div>
            <!-- 약관 제목 + 인쇄 아이콘 -->
            <div class="terms-header">
              <h2>전자금융거래 이용약관</h2>
              <img
                src="/images/policy/print.png"
                alt="인쇄"
                class="print-icon"
              />
            </div>

            <!-- 본문 내용 -->
            <div class="terms-body">
              <div>
                <h3>제 1조 (목적)</h3>
                <p>
                  본 약관은 롯데쇼핑㈜(이하 "회사"라 함)가 운영하는 사이트,
                  온라인 쇼핑몰 및 매장에서 제공하는 관련 서비스(모바일 및
                  인터넷 관련 서비스 포함, 이하 “서비스”라 함)를 이용함에 있어
                  회사와 회사의 서비스를 이용하는 자간의 권리 의무 및 책임
                  사항을 규정하는데 목적이 있습니다. ※ [참고] 본 약관이 적용되는
                  사이트 및 매장 자세히 보기 (단, 제공 서비스에 따라 개별약관
                  동의가 필요할 수 있으며, 개별약관을 우선하여 적용합니다.)
                </p>
              </div>
              <div>
                <h3>제 2조 (약간의 명시, 효력과개정)</h3>
                <p>
                  본 약관은 롯데쇼핑㈜(이하 "회사"라 함)가 운영하는 사이트,
                  온라인 쇼핑몰 및 매장에서 제공하는 관련 서비스(모바일 및
                  인터넷 관련 서비스 포함, 이하 “서비스”라 함)를 이용함에 있어
                  회사와 회사의 서비스를 이용하는 자간의 권리 의무 및 책임
                  사항을 규정하는데 목적이 있습니다. ※ [참고] 본 약관이 적용되는
                  사이트 및 매장 자세히 보기 (단, 제공 서비스에 따라 개별약관
                  동의가 필요할 수 있으며, 개별약관을 우선하여 적용합니다.)
                </p>
              </div>
              <div>
                <h3>제 3조</h3>
                <p>
                  본 약관은 롯데쇼핑㈜(이하 "회사"라 함)가 운영하는 사이트,
                  온라인 쇼핑몰 및 매장에서 제공하는 관련 서비스(모바일 및
                  인터넷 관련 서비스 포함, 이하 “서비스”라 함)를 이용함에 있어
                  회사와 회사의 서비스를 이용하는 자간의 권리 의무 및 책임
                  사항을 규정하는데 목적이 있습니다. ※ [참고] 본 약관이 적용되는
                  사이트 및 매장 자세히 보기 (단, 제공 서비스에 따라 개별약관
                  동의가 필요할 수 있으며, 개별약관을 우선하여 적용합니다.)
                </p>
              </div>
              <div>
                <h3>제 4조</h3>
                <p>
                  본 약관은 롯데쇼핑㈜(이하 "회사"라 함)가 운영하는 사이트,
                  온라인 쇼핑몰 및 매장에서 제공하는 관련 서비스(모바일 및
                  인터넷 관련 서비스 포함, 이하 “서비스”라 함)를 이용함에 있어
                  회사와 회사의 서비스를 이용하는 자간의 권리 의무 및 책임
                  사항을 규정하는데 목적이 있습니다. ※ [참고] 본 약관이 적용되는
                  사이트 및 매장 자세히 보기 (단, 제공 서비스에 따라 개별약관
                  동의가 필요할 수 있으며, 개별약관을 우선하여 적용합니다.)
                </p>
              </div>
              <div>
                <h3>제 5조</h3>
                <p>
                  본 약관은 롯데쇼핑㈜(이하 "회사"라 함)가 운영하는 사이트,
                  온라인 쇼핑몰 및 매장에서 제공하는 관련 서비스(모바일 및
                  인터넷 관련 서비스 포함, 이하 “서비스”라 함)를 이용함에 있어
                  회사와 회사의 서비스를 이용하는 자간의 권리 의무 및 책임
                  사항을 규정하는데 목적이 있습니다. ※ [참고] 본 약관이 적용되는
                  사이트 및 매장 자세히 보기 (단, 제공 서비스에 따라 개별약관
                  동의가 필요할 수 있으며, 개별약관을 우선하여 적용합니다.)
                </p>
              </div>
            </div>
          </article>
          <!-- 글 끝-->
        </section>
      </main>

      <!-- 메인 끝 -->

      <!-- 푸터 시작 -->
      <th:block th:include="/common/footer.html"/>
      <!-- 푸터 끝 -->
    </div>
  </body>
</html>
